.st-subHeading {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__title {
        font-size: 24px;
        font-weight: 600;
        color: #333;
        margin: 0;
    }
    &__subtitle {
        font-size: 14px;
        color: #666;
        margin: 0;
    }
}
