@use "Component/button";
@use "Component/drawer";
@use "Component/input";
@use "Component/layout";
@use "Component/loading";
@use "Component/modal";
@use "Component/notification";
@use "Component/popovers";
// @use "../styles/Component/sidebar";
@use "Component/tab";
@use "Component/table";
@use "Component/topbar";
@use "common/classes";
@use "common/formInner";
@use "common/root";
@use "common/typography";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    --st-primary: #6200ee;
    --st-primary-hover: #3700b3;
    --st-secondary: #dadfe6;
    --st-secondary-hover: #c8d0da;
    --st-error: #b00020;
    --st-background: #f6f9fb;
    --st-text-primary: #313a45;
    --st-text-white: #fff;
    --st-border: #e3e7ec;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
