.st-tooltip-wrapper {
    display: inline-block;
    position: relative;
}

.st-tooltip-tip {
    position: absolute;
    border-radius: 4px;
    padding: 6px 10px;
    color: #fff;
    background: #333;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 1;
    z-index: 100;
    white-space: nowrap;
    pointer-events: none;

    &::before {
        content: " ";
        left: 50%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 6px;
        margin-left: -6px;
    }

    /* Absolute Center */
    &.top {
        top: calc(100% * -1);
        left: 50%;
        transform: translateX(-50%);
        margin-top: -10px;

        &::before {
            top: 100%;
            border-top-color: #333;
        }
    }

    &.bottom {
        bottom: calc(100% * -1);
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: -10px;

        &::before {
            bottom: 100%;
            border-bottom-color: #333;
        }
    }

    &.left {
        left: auto;
        right: calc(100% + 10px);
        top: 50%;
        transform: translateY(-50%);

        &::before {
            left: auto;
            right: -12px;
            top: 50%;
            transform: translateY(-50%);
            border-left-color: #333;
        }
    }

    &.right {
        left: calc(100% + 10px);
        top: 50%;
        transform: translateY(-50%);

        &::before {
            left: -6px;
            top: 50%;
            transform: translateY(-50%);
            border-right-color: #333;
        }
    }
}
